body{
    margin:0;
    font-family:Arial;
}

nav{
    display:flex;
    justify-content:space-between;
    padding:20px 8%;
    background:#f3eee7;
}

nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}

nav a{
    text-decoration:none;
    color:#333;
}

.main{
    background:#f3eee7;
    text-align:center;
    padding:100px 0;
}

.about{
    display:flex;
    gap:50px;
    padding:100px 8%;
}

.projects{
    background:#f3eee7;
    padding:100px 8%;
}

.contact{
    background:#333;
    color:white;
    padding:100px 8%;
}
